{% extends "base.html.twig" %}

{% block title %}
	Édition de
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1>Éditer la catégorie
		{{ category.name }}
	</h1>
	{{ form_start(formView) }}

	{{ form_row(formView.name) }}
	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save">Modifier le produit</i>
	</button>

	{{ form_end(formView) }}
{% endblock %}
